body {
    background-color:hsl(212, 45%, 89%);
}

p{
    color:hsl(220, 15%, 55%);
}

div{
    margin-top: 10px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; 
}
